{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Profile</title>
<link rel="stylesheet" href="{% static 'styles/base_for_profile.css' %}">
{% endblock %}

{% block content %}
<section class="section-title">
	<div class="container-profile page-title">
		<h4>Личный кабинет</h4>
	</div>
</section>
<div class="container-profile my-account">
    <div class='account-menu'>
        <ul>
            <a href="{% url 'profile' %}"><li class='bordered'>Приветствие</li></a>
            <a href="{% url 'profile_info' %}"><li class='bordered'>Данные аккаунта</li></a>
            <a href="{% url 'profile_orders' %}"><li class='bordered'>Мои заказы</li></a>
            <a href="{% url 'logout' %}"><li>Выйти</li></a>
        </ul>
    </div>
    {% block profile-content %}
    {% endblock %}
</div>
{% endblock %}
