{% extends 'profile.html' %}
{% load static %}

{% block profile-content %}
	<div class='form-container orders'>
		<div class='account-order-detail'>
			<p class='order-number'><b>Заказ No{{ order.id }}</b> от {{ order.created_at }}</p>
			<p class='order-status'>Статус: <b>{{ order.display_status }}</b></p>
			{% for item in order_items %}
			<div class='center'>
				<div class='center-left'>
					<img src="{{ item.product.performance.image.url }}" alt="painting">
				</div>
				<div class='center-right'>
					<div class='product-title'>{{ item.product.performance.title }}</div>
						{% endif %}
					</div>
					<div class='product-price'>
						<div class='price'><b>Цена:</b> {{ item.product.price }} ₽</div>
					</div>
				</div>
			</div>
			{% endfor %}
			<div class='bottom'>
				<a href="{% url 'profile_orders' %}"><button class='gradient-button back-button'>НАЗАД К ЗАКАЗАМ</button></a>
				<div class='total-price in-cart'>
					<div class='total'>
						<p><span class='grey'>Итого</span></p>
						<p><b>{{ order.total_price }} ₽</b></p>
					</div>
					<div class='to-pay'>
						<p><span class='grey'>К оплате</span></p>
						<p><b>{{ order.total_price}} ₽</b></p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
