/* Форма регистрации */

.input-group {
	width: 100%;
	max-width: 300px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
}

.register-errors {
	margin-bottom: 10px;
	color: #e10000;
}

.register-form-container {
	margin-top: 30px;
}

.register-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.register-forgot-password-block {
	display: block;
	text-align: center;
}

.register-form input {
	padding: 8px;
	margin-top: 5px;
	margin-bottom: 10px;
	border-image: linear-gradient(to right, violet, indigo) 1;
	font-size: large;
	padding-right: 50px;
	outline: none;
}

.reg-button {
	width: 210px;
	border: 2px solid violet;
	font-size: medium;
	padding: 10px;
}

.link:hover {
	color: violet
}

@media screen and (max-width: 320px) {

	.reg-button {
		width: auto;
		height: 30px;
		font-size: 10px;
		padding: 5px;
	}
}
