<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Театральная мастерская "Верю"</title>
    <link rel="stylesheet" href="css_k_saity_ekzamen.css">
</head>
<body>
   <header>
        <div id="logo">
                <img class="logo-img" src="images/%D0%BB%D0%BE%D0%B3%D0%BE.png" alt="ТМ Верю">
        </div>
        <div>
            <nav>
               <a href="#nashi-afishi"  class="text">Наши афиши</a>
               <a href="#raspisanie-zanjat"  class="text">Расписание занятий</a> 
               <a href="#novosti"  class="text">Новости</a>
            </nav>
        </div>
       <h1>Театральная мастерская "Верю"</h1><br> 
       <blockquote class="chetko">«Истинные творческие чувства не лежат на поверхности души. Вызванные из глубин подсознания, они поражают не только зрителя, но и самого актера.»<br><a class="link" href="https://ru.wikipedia.org/wiki/%D0%A7%D0%B5%D1%85%D0%BE%D0%B2,_%D0%9C%D0%B8%D1%85%D0%B0%D0%B8%D0%BB_%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D1%80%D0%BE%D0%B2%D0%B8%D1%87" title="Михаил Александрович Чехов цитаты"> —&nbsp;Михаил Александрович Чехов</a></blockquote>
       <p class="chetko1">Для желающих</p> 
    </header> 
    <div id="forma">
        <p class="text">Пожалуйста, заполните форму. Все поля обязательны для заполнения.</p>
        <form action="" method="post" name="name1" id="name1"> 
    <!-- до или после инпута не имеет значение. связали наименование с активным окном, наводим на название и будет активироваться окно поиска через lable   -->
           <fieldset>
                <legend>
              Контактная информация 
                </legend>
                <div>
               <label for="name">Имя</label>
               <input type="text", id="name">
               </div>
               <div>
               <label for="phone">Телефон</label>
               <input type="text", id="phone">
               </div>
               <div>
               <label for="email">Email</label>
               <input type="email", id="email">
               </div>
            </fieldset>
        </form>
        <form action="" method="post" name="name2" id="name2"> 
           <fieldset>
                <legend>
                Персональная информация  
                </legend>
                <div>
               <label for="vozrast">Возраст</label>
               <input type="text", id="vozrast">
               </div>
               <div>
                   <label for="pol">Пол    </label>
                   <select name="pol" id="pol">
                   <option value="">Женщина</option>
                   <option value="">Мужчина</option>
                   </select>
               </div>
               <div>
                   <p>Возраст:</p>
                   <div class="rovno">
                    <input type="radio" value="vozrast-20" id="vozrast-do25" name="chislo" checked/>
                    <label for="vozrast-do20">До 20</label>
                    <input type="radio" value="vozrast-ne20" id="vozrast-posle20" name="chislo"/>
                    <label for="vozrast-posle20">Свыше 20</label>
                   </div>
               </div>
               <div>
                    <label for="massage">Перечислите личные качества</label> 
                    <textarea name="userMessage" id="massage" cols="50" rows="5"></textarea> 
                </div>
            </fieldset>
            <div>
            <button type="submit">Отправить мнформацию</button>
        </div>
        </form>   
    </div>
    <div id= "main">
     <h2 id="nashi-afishi">Наши Афиши</h2>
      <section class="spec1" >
       <img class="afisha1" src="images/%D0%B0%D1%84%D0%B8%D1%88%D0%B0%2033.jpg" alt="афиша пингвины">
       <div>
           <p>Театральная мастерская "Верю"</p>
            <p>Спектакль «ПИНГВИНЫ», 6+<br> 
            (по пьесе Ульриха Хуба «У ковчега в 8»)</p> 
            <p>Жанр: Пингвиний экшен</p> 
            <p>Режиссёр: Решетняк Кристина Александровна</p> 
            <p>Продолжительность: 1 час 10 минут</p> 
            <p>Жили-были три пингвина. Ссорились, спорили обо всём на свете - вдруг услышали, что скоро будет Великий потоп. Но билета на ковчег только два. Как же пингвинам провести незаконного третьего? Ослушаться Бога? А быть может, Господь придумал Потоп для того, чтобы проверить их пингвинью дружбу на прочность? Или Потопы нужны затем, чтобы найти себя и чтобы никто не забывал простую истину - жизнь хороша!</p> 
        </div>
       </section>
       <section class="spec2">
            <img class="afisha2" src="images/%D0%9D%D0%B5%D1%83%D1%81%D0%BB%D1%8B%D1%88%D0%B0%D0%BD%D0%BD%D1%8B%D0%B5-v3-hor.jpg" alt="афиша пингвины">
            <div>
               <p>Театральная мастерская "Верю"</p>
                <p>Спектакль "НЕУСЛЫШАННЫЕ", 16+<br> 
                (С. Алексиевич)</p> 
                <p>Жанр: документальный спектакль</p> 
                <p>Режиссёр: Решетняк Кристина Александровна</p> 
                <p>Продолжительность: 1 час 10 минут</p> 
                <p>От лица женщин, побывавших на войне, и не просто побывавших, а прошедших войну в качестве бойца и ведется рассказ в этом спектакле. Молодые актрисы расскажут нам со сцены документальные истории реальных людей. И здесь может возникнуть вопрос – зачем современному человеку нужна правда о войне, тем более правда, рассказанная от лица женщин? Кто захочет слушать эту правду? И почему именно эта тема?<br> 
                Ответ один – если человек хочет оставаться человеком, если помнит и уважает память тех, кто жил до него – тогда есть смысл жить в этом мире. И еще – помнить, что связь поколений неразрывна.</p> 
            </div>
       </section>
       <section class="raspisanie">
          <h2 id="raspisanie-zanjat">Расписание занятий</h2>
           <table>
               <thead>
                  <tr>
                      <th> </th>
                      <th>Понедельник</th>
                      <th>Вторник</th>
                      <th>Среда</th>
                      <th>Четверг</th>
                      <th>Пятница</th>
                      <th>Суббота</th>
                  </tr>
               </thead>
               <tbody>
                   <tr>
                       <th>Актерское мастерство</th>
                       <td>с 17.00 - 19.30</td>
                       <td></td>
                       <td></td>
                       <td>с 17.00 - 19.30</td>
                       <td></td>
                       <td rowspan="4">Показ спектакля</td>
                   </tr>
                   <tr>
                       <th>Сценическая речь</th>
                       <td></td>
                       <td>с 17.00 - 19.30</td>
                       <td></td>
                       <td></td>
                       <td></td>
                   </tr>
                   <tr>
                       <th>Сценическое движение</th>
                       <td></td>
                       <td></td>
                       <td>с 17.00 - 19.30</td>
                       <td></td>
                       <td></td>
                   </tr>
                   <tr>
                       <th>Репетиция спектакля</th>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td>с 17.00 - 19.30</td>
                   </tr>
               </tbody>
           </table>    
       </section>
    </div>
    <section class="action">
        <h3 id="novosti">Новсти</h3>
        <div>
            <img class="img-pushkin" src="images/%D0%9D%D0%B0%D0%B3%D1%80%D0%B0%D0%B4%D1%8B.%D0%A2%D0%B5%D0%B0%D1%82%D1%80.%D0%9E%D1%81%D0%B5%D0%BD%D1%8C.%D0%9F%D1%83%D1%88%D0%BA%D0%B8%D0%BD10.2022.jpg" alt="ФестТеатрОсеньПушкин">
            <p>В 2022 года коллектв ТМ "Верю" принял участие в VI сезоне Международного театрального фестиваля «Театр. Осень. Пушкин» в городе Санкт-Петербург. Ребята получили положительные эмоции и зарядились энергией до следующего года. А вернулись с наградами! Получив кубок в номинации "Лучший актерский ансамбль" со спектаклем "НЕУСЛЫШАННЫЕ".</p>
            
        </div>
    </section>
    <footer>
      <div class="chetko2">
           <div class="box1">
               <p><a href="https://instagram.com/veriu_theatre?igshid=NTc4MTIwNjQ2YQ=="  class="text">Мы в социальных сетях</a>
           </p>
           </div>
           <div class="img-inst">
               <p><a href="https://instagram.com/veriu_theatre?igshid=NTc4MTIwNjQ2YQ==" class="insta"></a></p>
           </div>
       </div>
       <div class="niz">
           Copyright &copy; Company 2020-2023
       </div>
    </footer>
</body>
</html>
