body {
    margin: 0;
    font-family: sans-serif
}
header {
    display: block;
    text-align: center;
    background-image: url('../img/MishailChehov.jpg');
    background-size: contain;
    background-repeat: round;
    height: fit-content;
    padding: 8% 0%;
    color: white;
    }
nav {
    /* display: inline-block; */
    float: right;
    margin-right: 10%;
    margin-top: -85px
}
h1 {
    margin: 0;
    font-size: 3.5rem;
    text-shadow: 6px 2px 1px rgba(0,0,0,0.4); /*горизлнтально вертикально глубина цвет*/
}
.chetko {
    font-style: italic;
    font-size: 20px;
    font-weight: bolder;
    color: black
}
.chetko1 {
    font-style: italic;
    font-size: 18px;
    font-weight: bolder;
    color: white
}
.link {
    color: white;
    text-decoration: none; /* Убираем подчеркивание у ссылок */ 
    font-style: italic;
    font-weight: 600
}
a.link:hover {
    text-decoration: underline; /* Добавляем подчеркивание */ 
}
#logo {
    float: left;
    margin-top: -87px
        }
.logo-img {
    margin-left: 20px;
    width: 150px;
    height: 80px;
    box-shadow: 
        0 2px 10px 0 rgba(0, 0, 0, 1.50), 
        0 3px 2px 2px rgba(0, 0, 0, 0.2), 
        0 1px 4px 0 rgba(0, 0, 0, 0.50);
    background-color: white;
    border-radius: 10px;
        }
#forma {
    width: 320px;
    float: left;
}
    .text {
        font-style: italic;
        margin-left: 10px;
        }
    legend {
        font-weight: bolder
        }
    label {
        display: inline-block;
        width: 100px;
        text-align: left;
        cursor: pointer
        }
    select {
        width: 115px;
        box-sizing: border-box;
        border: 1px solid #777;
        }
    form {
        padding-bottom: 20px;
        margin-left: 10px;
        width: 300px;
        float: left
    
        }
    textarea {
    vertical-align: top;
        }
        /*
        Устанавливаем один и тот же шрифт для input и textarea.
        По умолчанию в textarea используется monospace
        */
        textarea, input {
            font-family: sans-serif;
            width: 110px; /*выравнили строки, что бы ровно друг под другом были*/
            border: 1px solid #777
        }
        /*какой прицип работы подсветки?*/
        input:focus,
        textarea:focus {
        /*Делаем подсветку для элемента в фокусе */
        border-color: rgb(255, 255, 0)
        }        
        form div {
            margin-top: 0.2em;
            margin-bottom: 0.2em
            }
        input[type="radio"] {
            margin-top: 0.8em;
            width: 20px;
        }
        form p {
            margin-top: 7px;
            float: left
        }
        .rovno {
            width: 140px;
            margin-left: 95px;
        }
button[type="submit"] {
            width: 170px;
            height: 40px;
            font-family: sans-serif;
            font-size: 13px;
            cursor: pointer
        }
#main {
    display: inline-block;
    width: 70vw;
    margin-left: 1.5%;
    margin-right: 1.5%;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}
h2 {
    text-align: center;
    background-color: bisque;
    padding: 15px 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 2%;
    position: sticky;
    top: 0
        
}
.spec1 {
    display: inline-block;
    width: 340px;
    margin-left: 2%;
    border: 1px solid #ccc;
    margin-bottom: 10px
}
.spec2 {
    float: right;
    width: 340px; 
    border: 1px solid #ccc;
    margin-bottom: 10px
}
.afisha1 {
    width: 340px;
    height: auto;
    box-shadow: 
        0 2px 10px 0 rgba(0, 0, 0, 1.50), 
        0 3px 2px 2px rgba(0, 0, 0, 0.2), 
        0 1px 4px 0 rgba(0, 0, 0, 0.50);
    margin-bottom: 10px
}
.afisha2 {
    width: 340px;
    height: auto;
    box-shadow: 
        0 2px 10px 0 rgba(0, 0, 0, 1.50), 
        0 3px 2px 2px rgba(0, 0, 0, 0.2), 
        0 1px 4px 0 rgba(0, 0, 0, 0.50);
    margin-bottom: 10px
}
table {
            width: 90%; /*что бы центрировал не зависимо от расширения*/
            min-width: 650px; /*что бы таблица не разъезжалась*/
            max-width: 900px; /*что бы таблица не разъезжалась*/
            margin: 0px auto; /*делает блок по центру страницы*/
            border-collapse: collapse; /*убирает промежутки между ячейками*/
            font-family: serif;
            empty-cells: hide; /*скрыть пустые ячейки*/
            border: 1px solid #ccc;
        }
        tr th, td:first-child {
            background-color: #aaaaaa; /*к структуре строки обращаемся к колонке, которая первая ячейка*/
            padding: 15px 0;
            border: 1px solid #ccc;
        }  
        td {
            text-align: center;
            padding: 15px 0;
            border: 1px solid #ccc;
        }
        thead {
            background-color: #90adef;
        }
        thead tr th:first-child {
            width: 200px
        }
        tr:nth-child(2n) {
            background-color: gainsboro
        } /*для четных строк*/
        tr:nth-child(2n-1) {
            background-color: #f2f2f2
        } /*для нечетных строк*/           
           
        .raspisanie {
            clear: both;
            display: block
        }
footer {
            display: block;
            clear: both;
            background-color: #585858;
            color: white;
            font-family: sans-serif;
            font-size: 14px;
            line-height: 1.5em;
        }
        .box1 {
            float: left;
            padding: 10px;
            padding-top: 20px;
            margin-left: 35%;
        }
        .img-inst {
            display: inline-block;
            padding: 5px;
            margin-left: 10%
        }
/*
        .chetko2 {
            box-sizing: border-box;
            text-align: center;
            vertical-align: middle
        }
*/
        .niz {
            clear: both;
            border-top: 1px solid white;
            text-align: center;
            padding: 10px;
            font-size: 13px;
            /*как уменьшить белую линию, что бы не на весь экран?*/
        }
        a.insta {
            background-repeat: no-repeat;
            display: block;
            width: 35px;
            height: 35px;
            background: url(../img/insta_gray.png);
            background-size: cover
        }
        a.insta:hover {
            background: url(../img/insta.png);
            background-size: cover
        }
        a.text {
            color: white;
            text-decoration: none; /* Убираем подчеркивание у ссылок */ 
        }
        a.text:hover {
            text-decoration: underline; /* Добавляем подчеркивание */
        } 
.action {
    display: block;
    float: left;
    position: absolute;
    top: 900px;
    left: 10px;
    width: 320px;
    height: 600px;
    height: auto
}
h3 {
    text-align: center;
    background-color: bisque;
    padding: 15px 0;
    position: sticky;
    top: 0
}
.img-pushkin {
    width: 320px;
}
