:root {
    --bg-color: #ffffff;
    --text-color: #62686d;
    --text-color1: #0c0c0c;
    --accent-color: #d11717;
    --contrast-color: #3d464d;
    --gray-color: #ccc;
    --red-color: #ee6e73;
    --light-grey-color: #eee;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Mr Dafoe', cursive;
    color: var(--text-color1);
    font-weight: 400;
    margin: 0;
    line-height: 1.2;
    cursor: pointer;
}

a {
    color: var(--text-color);
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.btn,
.dropdown-menu,
.form-control {
    border-radius: 0;
}

.form-control:focus {
    color: var(--text-color);
    border-color: var(--accent-color);
    box-shadow: none;
}

.form-control::placeholder {
    color: var(--gray-color);
}

.btn-warning {
    background-color: var(--accent-color);
    color: var(--contrast-color);
}

.btn-outline-warning {
    border-color: var(--accent-color);
}

.bg-warning {
    background-color: var(--accent-color) !important;
}

.btn-outline-warning:hover {
    background-color: var(--accent-color);
    color: var(--contrast-color);
}

/* ============================================= General rules =============================================== */

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main.main {
    flex: 1 1 auto;
}

section {
    padding: 50px 0;
}

.section-title {
    position: relative;
    text-transform: uppercase;
    color: var(--contrast-color);
    font-weight: 700;
    padding: 1%;
}

.section-title span {
    background-color: var(--bg-color);
    padding-right: 1rem;
    position: relative;
    z-index: 1;
}

.section-title::after {
    position: absolute;
    /* content: ""; */
    width: 100%;
    top: 30%;
    left: 0;
    border: 1px dashed var(--text-color);
    /* z-index: -1; */
}

/* ============================================= General rules end =============================================== */

/* ============================================= Header rules =============================================== */

.header-logo-title {
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    color: var(--text-color1);
    /* font-family: "Mr Dafoe", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    transition: all .3s;
    font-family: 'Mr Dafoe', cursive;
    font-weight: 400;
    line-height: 1.2;
    cursor: pointer;
    text-transform: uppercase;
}

.header-logo-title:hover {
    color: var(--accent-color)
}

.header-top-phone a {
    text-decoration: none;
}

.header-top-phone a:hover {
    text-decoration: underline;
}

.logo-img {
    max-width: 70%;
    height: auto;
    box-shadow:
        0 2px 10px 0 rgba(0, 0, 0, 1.50),
        0 3px 2px 2px rgba(0, 0, 0, 0.2),
        0 1px 4px 0 rgba(0, 0, 0, 0.50);
    background-color: white;
    border-radius: 10px;
}

.block-quote a {
    text-decoration: none;
}

.block-quote a:hover {
    text-decoration: underline;
    color: var(--accent-color);
}

ul.social-icons {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

ul.social-icons li {
    margin-right: 10px;
}

ul.social-icons a {
    background-color: var(--accent-color);
    color: var(--contrast-color);
    width: 30.5px;
    height: 30.5px;
    line-height: 30.5px;
    border-radius: 50%;
    float: left;
    text-align: center;
    transition: all .3s;

}

ul.social-icons a:hover {
    background-color: var(--contrast-color);
    color: var(--accent-color);
}

.header-top .btn {
    background-color: #fff;
}

.cart-buttons .btn {
    color: var(--contrast-color);
    transition: all .3s;
}

.cart-buttons .btn:hover {
    border: 1px solid var(--contrast-color);
}

.header-bottom {
    border-top: 3px solid var(--accent-color);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.header-bottom .navbar,
.header-bottom .navbar .dropdown-menu {
    background-color: var(--contrast-color) !important;

}

.header-bottom .nav-item:first-child .nav-link {
    padding-left: 0;
}


.header-bottom .navbar .nav-link {
    color: #fff;
    transition: .3s all;
    letter-spacing: 0.1rem;
}

.header-bottom .navbar .nav-link:hover {
    color: var(--accent-color);
}

.header-bottom .navbar .nav-link.active {
    color: var(--accent-color);
}

.header-bottom .navbar .dropdown-menu {
    margin-top: 7px;
}

.headernav-scroll.header-bottom .navbar .offcanvas:not(.show) .nav-link {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

/* ============================================= Header rules end =================================== */

.nav-menu__list {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav-menu__list a {
    display: block;
    padding: 0.5em 1ch;
    text-decoration: none;
    color: #000;
}

.nav-menu__list a:hover {
    background-color: #ccc;
}

.nav-menu__profile a {
    padding: 0.25em 0.25em;
}

.nav-menu__profile-icon {
    display: block;
    height: 1.5em;
    width: auto;
}

.main-content {
    padding: 1em 3em;
}

button {
    cursor: pointer;
}

.footer__horizonal_line {
    margin: 0.5em 0;
    /* background-color: rgb(185, 0, 0); */
    border: 1px solid var(--accent-color);
    height: 1.5px;
}

@media (max-width: 600px) {
    .main-content {
        padding: 3em 1em;
    }
}
