{% extends 'base.html' %}

{% block head %}

<title>Театральная мастерская "Верю"</title>

{% endblock %}

{% block content %}

<ul class="product-list">
    <!-- li*5>div.product-card>h2.product-card__title+p.product-card__text
     -->
    {% for ticket in tickets %}
    <li>
        <div class="product-card">
            <h2 class="product-card__title">{{ticket.title}}</h2>
            <p class="product-card__text">{{ticket.description}}</p>
            <a href="/product/1" class="product-card__link">Подробнее</a>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
